<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Mode" value="https://pkgs.dev.azure.com/atul6793/bbe91d24-831d-41dd-8b60-e0e949a8a1f6/_packaging/Tailspin.SpaceGame.Web.Mode/nuget/v3/index.json" />
  </packageSources>
</configuration>